<div class="row"  ng-controller="LoginController" > 
	<div class="col-md-4 col-md-offset-4">
		<h2 class="text-center">Welcome to ZAMA</h2>
		<form action="" class="form-vertical"  ng-show="!__SHOW_REG">
			<div class=" alert-danger help-text" style="color:#a94442;margin-bottom:5px;padding:1rem;" ng-if="loginMessage">{{loginMessage}}</div>
			<div class="list-group-item">
			<div class="form-group"><input type="text" class="form-control" placeholder="Username" ng-model="User.username"/></div>
			<div class="form-group"><input type="password" class="form-control" placeholder="Password" ng-model="User.password"/></div>
			<div class="row">
				<div class="col-md-6"> 
					<button class="btn btn-default btn-block" ng-click="cancel()" ng-disabled="LoggingIn" type="button">CANCEL</button>
				</div>
				<div class="col-md-6"> 
					<button class="btn btn-primary btn-block" ng-click="login()"  ng-disabled="LoggingIn" LoggingIntype="button">LOGIN</button>
				</div>
			</div>
			</div>
		</form>
		<form action="" class="form-vertical" ng-controller="RegisterController">
			<div class="text-center hide" ng-show="!__SHOW_REG">
				<hr />
				No account yet? <br /> <button class="btn btn-success btn-sm" type="button" ng-click="toggleRegister()">Register</button>.
			</div>
			<div class="list-group-item" ng-if="__SHOW_REG">
			<div class="form-group"><input type="text" class="form-control input-lg" placeholder="Employee No" ng-model="Register.employee_no"/></div>
			<div class="form-group">
					<div class="btn-group btn-group-justified">
						 <div class="btn-group" role="group" ng-click="Register.user_type='manager'">
							<button class="btn btn-default" 
								ng-class="{'btn-primary':Register.user_type=='manager',
									'btn-default':Register.user_type!=='manager'}"
								type="button"
								>
								MANAGER
							</button>
						 </div>
						 <div class="btn-group" role="group" ng-click="Register.user_type='dept-user'">
							<button class="btn btn-default" 
								ng-class="{'btn-primary':Register.user_type=='dept-user',
									'btn-default':Register.user_type!=='dept-user'}"
								type="button"
								>
								DEPT USER
							</button>
						 </div>
						 <div class="btn-group" role="group" ng-click="Register.user_type='sub-user'">
							<button class="btn btn-default" 
								ng-class="{'btn-primary':Register.user_type=='sub-user',
									'btn-default':Register.user_type!=='sub-user'}"
								type="button"
								>
								SUB-USER
							</button>
						 </div>
					</div>
			</div>
			<div class="form-group">
				<select name="" id="" class="form-control" ng-model="Register.department">
					<option value="">Select Department</option>
					<option ng-repeat="department in Departments" ng-value="department.id">{{department.name}}</option>
				</select>
			</div>
			<div class="form-group"><input type="text" class="form-control" placeholder="Username" ng-model="Register.name"/></div>
			<div class="form-group"><input type="password" class="form-control" placeholder="Password" ng-model="Register.password"/></div>
			<div class="form-group"><input type="password" class="form-control" placeholder="Confirm Password" ng-model="Register.confirm_password"/></div>
			<div class="row">
				<div class="col-md-6"> 
					<button class="btn btn-default btn-block" ng-click="cancel()" ng-disabled="Registering" type="button">CANCEL</button>
				</div>
				<div class="col-md-6"> 
					<button class="btn btn-success btn-block" ng-click="register()"  ng-disabled="Registering" type="button">REGISTER</button>
				</div>
			</div>
			</div>
		</form>
	</div>
</div>