<div ng-controller="AtomicBasicController as ABC" ng-init="ABC.init()">
	<a-fab ng-click="ABC.openModal()"></a-fab>
	<!-- Module -->
	<a-module>
		<a-container>
			<a-header>
				<h5>Basic Interface</h5>
			</a-header>
			<a-canvas>
				<a-content>
					<a-row>
						<a-col>
							<a-table headers="ABC.Headers" props="ABC.Props" data="ABC.Data" on-row-click="ABC.getRecord">
							</a-table>
						</a-col>
					</a-row>
				</a-content>
			</a-canvas>
		</a-container>
	</a-module>
	<!-- Modal -->
	<a-modal id="TestModal" title="Sample Dialog">
		<a-modal-body>
			<a-row>
				<a-col size="6">
					<div class="form-group">
						<a-label>Label 1</a-label>
						<a-textbox ng-model="ABC.Text"/>
					</div>
				</a-col>
				<a-col size="6">
					<div class="form-group">
						<a-label>Label 2</a-label>
						<a-textbox ng-model="ABC.Text2"/>
					</div>
				</a-col>
			</a-row>
			<a-row>
				<a-col>

					<a-label>Test Selected Row</a-label>
					<pre>{{ABC.ModalItem|json}}</pre>
				</a-col>
			</a-row>
		</a-modal-body>
		<a-modal-footer>
			<a-button opt-class="pull-left" ng-click="ABC.closeModal()" > Close</a-button>
			<a-button ng-click="ABC.clearModal()"> Clear</a-button>
			<a-button type="primary" ng-click="ABC.closeModal()"> Confirm</a-button>
		</a-modal-footer>
	</a-modal>
</div>

<div ng-controller="AtomicDataController as ADC" ng-init="ADC.init()">
	<a-module>
		<a-container>
			<a-header>
				<h5>Data Interface</h5>
			</a-header>
			<a-canvas>
				<a-content>
					<a-row>
						<a-col size="6">
							<a-label>Label</a-label>
							<a-textbox ng-model="ADC.Input"/>
							<a-button type="primary" ng-click="clear()">Clear</a-button>
						</a-col>
						<a-col size="6">
							{{ADC.Input}}
						</a-col>
					</a-row>
				</a-content>
			</a-canvas>
		</a-container>
	</a-module>
</div>
