<div ng-controller="AtomicBasicController as ABC" ng-init="ABC.init()">
	<a-fab ng-click="ABC.openModal()"></a-fab>
	<!-- Module -->
	<a-module>
		<a-container>
			<a-header is-main="true">
				<div class="pull-left">
					<h4>Basic Interface</h4>
				</div>
				<div class="pull-right">
					<a-pager meta="ABC.Meta" on-navigate="ABC.goToPage"></a-pager>
					<o-dropdown-filter ng-model="ABC.Active" show-sem="true" show-year-level="true" show-section="true">
					</o-dropdown-filter>
				</div>
				<div class="clearfix"></div>
			</a-header>
			<a-header>
					<a-row>
						<a-col>
							<a-searchbox ng-model="ABC.SearchBox" on-search="ABC.search" on-clear="ABC.clearSearch"></a-searchbox>
						</a-col>
					</a-row>
				</a-header>
			<a-canvas>
				<a-content>
					<a-row>
						<a-col size="6">
							<a-table headers="ABC.Headers" props="ABC.Props" data="ABC.Data" search-by="ABC.SearchBy"  search-word="ABC.SearchBox" on-row-click="ABC.getRecord" ng-model="ABC.ActiveItem">
							</a-table>
							<m-table-tick headers="ABC.Headers" props="ABC.Props" data="ABC.Data" >
							</m-table-tick>
						</a-col>
						<a-col size="6">
							<m-table-edit headers="ABC.Headers" props="ABC.Props" data="ABC.Data" inputs="ABC.Inputs" on-edit-save="ABC.applyEdit">
							</m-table-edit>

							<m-table-sort headers="ABC.Headers" props="ABC.Props" data="ABC.Data" on-sort-save="ABC.applySort" >
							</m-table-sort>
							
							<pre>{{ABC.Active | json}}</pre>
						</a-col>
					</a-row>
				</a-content>
			</a-canvas>
		</a-container>
	</a-module>
	<!-- Modal -->
	<a-modal id="TestModal" title="Sample Dialog">
		<a-modal-body>
			<a-row>
				<a-col size="6">
						<m-formgroup label="Text" ng-model="ABC.Text" ></m-formgroup>
				</a-col>
				<a-col size="6">
					<div class="form-group">
						<m-formgroup label="Simple Option" ng-model="ABC.Option" options="ABC.Options"></m-formgroup>
						<m-formgroup label="Alias Option" ng-model="ABC.Option" options="ABC.Options" option-label="alias" ></m-formgroup>
						<m-formgroup label="Grouped Option" ng-model="ABC.Option" options="ABC.Options" option-label="alias" option-group="group" ></m-formgroup>
					</div>
				</a-col>
			</a-row>
			<a-row>
				<a-col>

					<a-label>Test Selected Row</a-label>
					<pre>{{ABC.ModalItem|json}}</pre>
				</a-col>
			</a-row>
		</a-modal-body>
		<a-modal-footer>
			<a-button opt-class="pull-left" ng-click="ABC.closeModal()" > Close</a-button>
			<a-button ng-click="ABC.clearModal()"> Clear</a-button>
			<a-button type="primary" ng-click="ABC.confirmModal()"> Confirm</a-button>
		</a-modal-footer>
	</a-modal>
</div>

<div ng-controller="AtomicDataController as ADC" ng-init="ADC.init()">
	<a-module>
		<a-container>
			<a-header>
				<h5>Data Interface</h5>
				<o-dropdown-filter ng-model="ABC.Active"></o-dropdown-filter>
			</a-header>
			<a-canvas>
				<a-content>
					<a-row>
						<a-col size="6">
							<a-label>Label</a-label>
							<a-textbox ng-model="ADC.Input"/>
							<a-button type="primary" ng-click="clear()">Clear</a-button>
						</a-col>
						<a-col size="6">
							{{ADC.Input}}
						</a-col>
					</a-row>
				</a-content>
			</a-canvas>
		</a-container>
	</a-module>
</div>

<div ng-controller="ExampleController as ADC" ng-init="ADC.init()">
</div>
