<link rel="stylesheet" href="vendors/node_modules/@microfocus/ng-prism/dist/ng-prism.css">
<div ng-controller="AtomicBasicController as ABC" ng-init="ABC.init()">
	<a-module>
		<a-container>
			<a-header>
				<h5>Docs</h5>
			</a-header>
			<a-canvas>
				<a-content>
					<a-row>
						<a-col size="6">
							<a-label>View</a-label>
							<a-docs src="basic.html"></a-docs>
						</a-col>
						<a-col size="6">
							<a-label>Controller</a-label>
							<a-docs src="basic.js"></a-docs>
						</a-col>
					</a-row>
					
					
				</a-content>
			</a-canvas>
		</a-container>
	</a-module>
</div>
