<!-- IMPORTANT EXC is the alias of ExampleController -->
<!-- 
You can change the alias to any name but use the acronymn of the controller  for better documentation. When you change the alias you change all the vars and ng-model. If you forget to add the prefix it will not work.
-->
<div ng-controller="ExampleController as EXC" ng-init="EXC.init()">
	<!-- Add the basic UI elements -->
	<a-fab ng-click="EXC.openModal()"></a-fab>
	<a-module>
		<a-container>
			<a-header is-main="true">
				<div class="pull-left">
					<h4>Example</h4>
				</div>
				<div class="pull-right">
					<a-pager meta="EXC.Meta" on-navigate="EXC.gotoPage"></a-pager>
					<o-dropdown-filter ng-model="EXC.Active"></o-dropdown-filter>
				</div>
				<div class="clearfix"></div>
			</a-header>
			<a-canvas>
				<!-- Add your contents inside a-content -->
				<a-content>
					<a-row>
						<!-- a-col size attribute  is optional default is 12-->
						<a-col>
							<a-table headers="EXC.Headers" props="EXC.Props" data="EXC.Data" ng-model="EXC.ActiveSection"  on-row-click="EXC.openModal" is-sticky="true"></a-table>
						</a-col>
					</a-row>
				</a-content>
			</a-canvas>
		</a-container>
	</a-module>
	<a-modal id="ExampleModal" title="Section">
		<a-modal-body>
			<a-row>
				<a-col size="6">
					<m-formgroup label="ID" ng-model="EXC.ActiveSection.id"> </m-formgroup>
				</a-col>
				<a-col size="6">
					<m-formgroup label="Name" ng-model="EXC.ActiveSection.name"> </m-formgroup>
				</a-col>
			</a-row>
			<a-navtab ng-model="EXC.ActiveTab" options="EXC.Tabs"></a-navtab>
			<a-row ng-show="EXC.ActiveTab=='editor'">
				<a-col>
					<div ng-show="EXC.Mode=='EditItems'||EXC.Mode=='Add'" >
						<m-table-edit headers="EXC.TestHeaders" props="EXC.TestProps" data="EXC.TestData" inputs="EXC.TestInputs" on-edit-save="EXC.updateItems"  ></m-table-edit>
					</div>
					<div ng-show="EXC.Mode=='SortItems'">
						<m-table-sort  headers="EXC.TestHeaders" props="EXC.TestProps" data="EXC.TestData" on-sort-save="EXC.updateItems"  on-init-edit="EXC.editMode"  ></m-table-sort>
					</div>
				</a-col>
			</a-row>
			<a-row ng-show="EXC.ActiveTab=='checklist'">
				<a-col>
					<m-table-tick  headers="EXC.TestHeaders" props="EXC.TestProps" data="EXC.TestData" on-tick-save="EXC.updateItems" ></m-table-tick>
				</a-col>
			</a-row>
		</a-modal-body>
		<a-modal-footer>
			<a-button opt-class="pull-left" ng-click="EXC.closeModal()">Close</a-button>
			<a-button type="primary" ng-click="EXC.confirmModal()">Confirm</a-button>
		</a-modal-footer>
		
	</a-modal>
</div>